<div class="image1">
  <div class="continent">
    <% @continents.each do |continent| %>
      <div class="continent-area">
        <%= link_to continent.name, posts_path(continent_id: continent.id), class: "btn-circle-flat" %><br>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="travel-level">
        <h2>旅人レベルは 「<%= @user_level %>」です</h2>
      </div>
    </div>
  </div>
</div>
