<div class="image1">
  <div class="continent">
    <% @continents.each do |continent| %>
      <div class="continent-area">
        <%= link_to continent.name, posts_path(continent_id: continent.id), class: "btn-circle-flat" %><br>
      </div>
    <% end %>
  </div>
</div>