<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="about-title">
        <h1>About</h1>
      </div>
      <div class="about-top mt-5">
        <h4>楽しかった旅行の思い出を記録して、自分のトラベルコレクションを作りましょう！</h4>
      </div>
      <div class="about-text mt-5">
        <p>トラバムはあなたの旅行のベストモーメントを記録するフォトアルバムアプリです。</p>
        <p>
        お気に入り写真を一つだけ選ぶことで、<br>旅行中に撮った多数の写真をアップロードするのに時間がかかるから、<br>
        と思い出記録をするのをつい忘れてしまうような方でも<br>「トラバム」でならさっと気軽に記録ができます。
        </p>
        <p>投稿数を増やしてトラベラーレベルを上げたり、エリアごとのバッジをもらえたりと楽しい機能も満載。</p>
        <p>今すぐ使ってみましょう！</p>
        <p>Happy traveling~</p>
      </div>
    </div>
  </div>
</div>