<div class="home-visual">
  <div class="home-visual-text">
    <p>旅を記そう!</p>
      <%= link_to "新規登録", signup_path, class: "btn btn-primary nav-signup btn-lg" %>
      <%= link_to "ログイン", login_path, class: "btn btn-primary nav-signup btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="how-to-use">
        <h2>使い方</h2>
        <p>
          使い方はとてもシンプル
          投稿画面で旅行の情報や思い出メモを記録し、<br>保存するだけでコレクションに追加されます。<br>
          旅行するたびトラバムに記録し、<br>どんどん旅人レベルを上げていきましょう！<br>
          投稿数が増えればバッジももらえるかも...？！
        </p>
      </div>
    </div>
  </div>
</div>

