/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

main {
 margin-bottom: auto;
}

.navbar {
  background-color:#94BCC0;
}

.nav-link {
  padding: 1rem 1.0rem!important;
}

.logo {
  font-family: 'Kaisei Decol', serif;
  font-size: 40px
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #94BCC0;
  margin-top: 50px;
}

a, a:hover {
  color: #000!important;
}

// ボタンカラー
.btn-primary {
    color: white !important;
    background-color: #DC9750 !important;
    border-color: #DC9750!important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #362222!important;
    background-color: #ECEEE0!important;
    border-color: #ECEEE0!important;
}

// スマートフォン用スタイル
@media screen and (max-width: 425px) {
  // Top
  .top-image {
    width: 100%;
    height: 150px;
    background-image: image-url("top_image.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .top-image-button {
    display:none
  }
  
  .how-to-use-block:not(:nth-child(3)) {
    border-bottom: 5px dotted #DC9750;
    border-right: none
  }
  
  // User index
  .map-image {
    width: 100%;
    height: 600px;
    background-image: image-url("world_map.png");
    background-size: contain;
    background-position: bottom center;
  }

  .continent-area {
    padding: 10px 20px;
    margin: auto;
  }
}